# Environment Variables example 
# This file is used to generate and deploy the documentation site.
# Copy this file to .env and fill in your actual values

# Main repository URL, for example https://github.com/innerbytes/idajs
MAIN_REPO_URL=

# Documentation deployment repository URL. 
# This repo has to be setup to automatically publish to the documentation site folder.
# Example: ssh://user@example.com/path/to/repo.git
DEPLOY_REPO_URL=

# Documentation site host URL
# Example: https://ida.innerbytes.com/
DOC_HOST_URL=
