/* 
 * Typedoc side menu anchor links scroll fix for mobile devices
 */
.has-menu body {
  overflow: visible !important;
}

/* 
 * IdaJS text styling
 */

:root {
  --idajs-title-color-light: #3178c6;
  --idajs-title-color-dark: #d7d3b0;
  --idajs-color-light: #147f95;
  --idajs-color-dark: #e1dec2;
  --dim-toolbar-contents-height: 3.5rem;
}

.idajs {
  font-weight: bold;
  color: var(--idajs-color-light);
}

.title {
  color: var(--idajs-title-color-light);
}

.ida-video {
  width: 560px;
  aspect-ratio: 4 / 3;
}

@media (max-width: 769px) {
  .ida-video {
    width: 100%;
    height: auto;
  }
}

/* 
 * Logo in header
 */
a.title::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url('/media/ida-blue.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  vertical-align: middle;
}

@media (prefers-color-scheme: dark) {
  .idajs {
    color: var(--idajs-color-dark);
    font-weight: normal;
  }

  .title {
    color: var(--idajs-title-color-dark);
  }

  a.title::before {
    background-image: url('/media/ida.png');
  }
}

:root[data-theme="light"] .idajs {
  color: var(--idajs-color-light);
  font-weight: bold;
}

:root[data-theme="dark"] .idajs {
  color: var(--idajs-color-dark);
  font-weight: normal;
}

:root[data-theme="light"] .title {
  color: var(--idajs-title-color-light);
}

:root[data-theme="dark"] .title {
  color: var(--idajs-title-color-dark);
}

:root[data-theme="light"] a.title::before {
  background-image: url('/media/ida-blue.png');
}

:root[data-theme="dark"] a.title::before {
  background-image: url('/media/ida.png');
}
